:root {
  --main-color: #4caf50;
  --bg-color: #f9f9f9;
  --secondary-color: #45a049;
  --text-color: #333;
}

.body-auth {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.container-auth {
  width: 28vw;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
}

.link {
  text-align: center;
  margin-top: 20px;
}

.link a {
  color: var(--main-color);
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}